# CodeIgniter
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# Upload
assets/uploads/*
assets/uploads/files/!index.html

# Aptana IDE
.project
.settings
