

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush/alexbrush-regular-webfont.eot');
    src: url('../fonts/alexbrush/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexbrush/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/alexbrush/alexbrush-regular-webfont.ttf') format('truetype'),
         url('../fonts/alexbrush/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.page-header h1 {
	font-family: 'alex_brushregular', Tahoma, sans-serif;
}

h1, h2 {
	font-family: 'alex_brushregular', Tahoma, sans-serif;
}

h1, .h1 {
    font-size: 50px;
}

h2, .h2 {
    font-size: 38px;
}
