

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content.container {
    margin-top: 30px;
}

#main-container.container {
	min-height: 250px;
}

.container .footer {
	margin-top: 10px;
}
